{% extends 'baseIsLogin.html' %}
{% load static %}

{% block nav-content %}
	<div id="left-nav">
	    <a class="navbar-brand" href="#" id="logo">
	        <img src="{% static 'img/logo.png' %}" alt="" id="logo">
	    </a>
	</div>

	<!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="/recommendation/">Recommendations</a>
            <a class="nav-link nav-item" href="/findDrinks/">Find Drinks</a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            <a class="nav-link nav-item" href="/logout/">Logout</a>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="find-form">
	<h1>What type of drinks do you want?</h1>
	<form action="/recommendation/" method="POST">
		{% csrf_token %}
		{% for f in form %}
			{{ f.label|linebreaks }}{{ f|linebreaks }}
		{% endfor %}
		<button type="submit" name="submit">Find</button>
	</form>
</div>

{% endblock %}