{% extends 'baseIsLogin.html' %}
{% load static %}

{% block nav-content %}
	<div id="left-nav">
	    <a class="navbar-brand" href="#" id="logo">
	        <img src="{% static 'img/logo.png' %}" alt="" id="logo">
	    </a>
	</div>

	<!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="/recommendation/">Recommendations</a>
            <a class="nav-link nav-item" href="/findDrinks/">Find Drinks</a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            <a class="nav-link nav-item" href="/logout/">Logout</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="recommendations">
	<h1>Recommendations</h1>
	{% if userReqs == None %}
		<h3>We are sorry, there aren't any drinks in your area.</h3>	
	{% else %}
	<div class="container">
		<div class="card-columns">
		{% for drink in userReqs %}
			<div class="card mx-auto" style="width: 18rem;">
				<img src="{{ drink.drink_image.url }}" class="card-img-top" alt="...">
			  	<div class="card-body">
			    	<h5 class="card-title">{{ drink }}</h5>
			    	<p class="card-text">Store: {{ drink.store_name }}</p>
			    	<p class="card-text">Location: {{ drink.store_location }}</p>
			    	<p class="card-text">Price: {{ drink.price }}</p>
			  	</div>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}