{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/styleChristo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Add Drink</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-cream-muda" id="navigation">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo-kecil.png' %}" alt="" id="logo">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="{% url 'addDrink:add_drink' %}">Add Drink<span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="{% url 'addDrink:list_drink' %}">List Drink</a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            <a class="nav-link nav-item" href="{% url 'findDrinks:logout' %}">Logout</a>
        </div>
    </div>
</nav>

<body class="bg-cream-muda">
    <div class="flex-container column-style" id="add-drink">
        <div class="flex-container column-style bg-cream" id="addDrink-form">
            <span class="title">Add Drinks</span>
            <form action="" method="POST" class="isian-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-container column-style isian-form">
                    <span class="subtitle">Name of the drink</span>
                    {{ form.drink_name }}
                    <span class="subtitle">Category</span>
                    {{ form.category }}
                    <span class="subtitle">Flavor</span>
                    {{ form.flavor }}
                    <span class="subtitle">Sugar Rate</span>
                    {{ form.sugar_rate }}
                    <span class="subtitle">Hot or Ice</span>
                    {{ form.hot_or_ice }}
                    <span class="subtitle">Blend or Brew</span>
                    {{ form.blend_or_brew }}
                    <span class="subtitle">Store Name</span>
                    {{ form.store_name }}
                    <span class="subtitle">Store Location</span>
                    {{ form.store_location }}
                    <span class="subtitle">Price</span>
                    {{ form.price }}
                    <span class="subtitle">Picture</span>
                    {{ form.drink_image }}
                    <div class="flex-container row-style" id="add-btn">
                        <input type="submit" class="tombol" value="Add" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
<footer>
    <h3>Est. 2019 by FindDrinks</h3>
</footer>
</html>
