{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/styleChristo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>List Drink</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navigation">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo-kecil.png' %}" alt="" id="logo">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item" href="{% url 'addDrink:add_drink' %}">Add Drink<span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="{% url 'addDrink:list_drink' %}">List Drink</a>
            <a class="nav-link nav-item" href="#">Feedback</a>
            <a class="nav-link nav-item" href="{% url 'findDrinks:logout' %}">Logout</a>
        </div>
    </div>
</nav>

<body class="bg-cream-muda">
    <div class="flex-container column-style" id="list-drink">
        <h1>Test</h1>
    </div>
    
</body>
</html>