{% extends 'baseLogin.html' %}

{% load static %}

{% block nav-content %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styleLogin.css' %}">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'images/logo.png' %}" alt="" id="logo">
        </a>
    </div>
{% endblock %}

{% block content %}
	<div class = "flex-container">
		<form method="post" class = "login_form">
		{% csrf_token %}
			<p>Username</p>
			{{ form.username }}
			<p>Password</p>
			{{ form.password }}
			<input type="submit" class="tombol" value="Submit" />
			{% if user == None %}
				<p>Login Failed</p>
			{% endif %}
			
		<p>Don't have an account? <a href="/register"><strong>Create one now</a></strong>!</p>
		</form>
	</div>

{% endblock %}