{% extends 'base.html' %}
{% load static %}



{% block nav-content %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styleRifqi.css' %}">
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo.png' %}" alt="" id="logo">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-link nav-item disabled" href="">Recommendations</a>
            <a class="nav-link nav-item disabled" href="">Find Drinks</a>
            <a class="nav-link nav-item disabled" href="#">Feedback</a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="flex-container">
        <form method="POST" class="register_form">{% csrf_token %}
                <h4 id="upper">Start your journey with us!</h4>
                {{ form.as_p }}
                <button type="submit" class="btn button-register">Register</button>
                <h6 id="lower">Already a member? <a href="{% url 'login:login' %}">Login</a> </h6>
        </form>
    </div>
{% endblock %}