<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FindDrinks</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-inverse">
  {% block nav-content %}
            

 {% endblock %}
</nav>

<body>
	{% block content %}
            

    {% endblock %}
</body>

<footer>
  <h3>Est. 2019 by FindDrinks</h3>
</footer>
