body {
	background-color: #FFF7C6;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.btn {
	align-items: center;
	margin-top: 10px;
	background-color: #ADD8E6;
	color: white;
	border-radius: 50px;
	font-size: 13px;
	width: 40%;
}

.loginbutton {
	background-color: #ADD8E6;
	transition: 0.5s ease;
}

.loginbutton:hover {
	background-color: #ADD8E655;
	color: #ADD8E6;
	border: 1px solid #ADD8E6;
	transition: 0.7s ease;
}

body > div > form > button {
	border-radius: 50px;
}

.flex-container{
	height: 85vh;
	width: 100%;
	display:flex;
	padding:20px;
	justify-content: center;
	align-items: center; 
}

#upper {
	font-size: 20px;
	margin-bottom: 30px;
}

#lower {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0;
}

#lower a {
	color: black;
	text-decoration: underline;
	transition: 0.5s ease;
}

#lower a:hover {
	color: #ADD8E6;
	transition: 0.5s ease;
}
.login_form {
	background-color: #FFFCE8;
	border-radius: 20px;
	box-shadow: 0 0 5px #ADD8E6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.register_form p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.register_form ul .errorlist {
	color: red;
}

body > div > form > p label {
	margin-bottom: 0;
	font-size: 13px;
}

.register_form p input {
	border-radius: 5px;
}

#logo{
    width:240px;
}

.nav-item{
    margin-top:20px;
    margin-bottom:-25px;
    margin-right: 20px;
}

footer {
 display: flex;
 flex-flow: column wrap;
 height: 70px;
 font-style: italic;
 background-color: #86C5D8;
 padding-top: 25px;
}

footer h3 {
 font-size: 20px;
 text-align: center;
 color: #fff;
 font-weight: bold;
}

.errorlist {
	list-style-type: none;
	color: red;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 15px;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.register_form {
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}
}

@media only screen and (max-width: 360px) {
	.register_form {
		width: 100%;
		height: 80%;
	}

	.btn {
		width: 90px;
	}

	#upper {
		font-size: 17px;
	}

	#logo {
		width: 200px;
	}
}

@media only screen and (max-height: 568px) {
	.register_form {
		width: 100%;
		height: 90%;
	}

	.btn {
		width: 90px;
	}

	#upper {
		font-size: 17px;
	}

	#logo {
		width: 200px;
	}
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .register_form {
		width: 80%;
		height: 80%;
	}

	#upper {
		font-size: 30px;
	}

	#lower {
		font-size: 18px;
	}

	body > div > form > p label {
	font-size: 20px;
	}

	.register_form p input {
		border-radius: 5px;
		width: 250px;
		height: 40px;
		font-size: 19px;
	}

	.btn {
		width: 100px;
		height: 40px;
		font-size: 17px;
		 margin-bottom: 10px;
	}

}

@media only screen and (device-width: 1024px) and (max-height: 1366px)  {
  /* For general iPad Pro layouts */
  .register_form {
		width: 70%;
		height: 70%;
	}

	#upper {
		font-size: 35px;
	}

	#lower {
		font-size: 21px;
	}

	body > div > form > p label {
		font-size: 22px;
	}

	.register_form p input {
		border-radius: 5px;
		width: 300px;
		height: 50px;
		font-size: 20px;
	}

	.btn {
		width: 120px;
		height: 50px;
		font-size: 20px;
		margin-bottom: 15px;
	}

}