body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    margin: 0px;
}
.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.row-style{
    flex-direction:row;
}
.column-style{
    flex-direction:column;
}
.bg-skyblue-tua{
    background-color: #86c5d8;
    background-attachment: fixed;
    background-size: cover; 
}
.bg-skyblue-muda{
    background-color:#add8e6;
    background-attachment: fixed;
    background-size:cover;
}
.bg-cream-muda{
    background-color:#fff7c6;
    background-attachment: fixed;
    background-size:cover;
}
.nav-item{
    margin-top:20px;
    margin-bottom:-25px;
}
#logo{
    width:269px;
    height:90px;
}
#list-drink{
    padding:20vh 20px 20px;
}
#add-drink{
    padding:20vh 20px 20px;
}
.title{
    font-size:40px;
}
.subtitle{
    font-size:30px;
}
